body {
    font-family: sans-serif;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


.container {
    max-width: 1200px;
    /* width: 95%; */
    /* margin: auto; */
}

li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ebfaff;
    text-decoration: none;
}

header {
    background-image: url("../assets/img/burgers-1839090_1920.jpg");
    height: 100vh;
    /* display: flex; */
    /* justify-content: flex-end; */
    /* align-items: center; */
    padding: 3px 4%;
}

.navbar-left {
    cursor: pointer;
    margin: 0;
    padding: 0px;

}

.navbar-right {
    padding: 10px;
    margin: 10px;
    /* list-style: none; */
    float: right;
    /* padding-top: 1em; */
}

.navbar-item {
    display: inline-block;
    padding: 0px 20px;
}

.navbar-item a {
    transition: all 0.3s ease 0s;
}

.navbar-item a:hover {
    color: #d16628
}

/* 
button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(204, 96, 29);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(230, 115, 7, 0.8);
} */