* {
    box-sizing: border-box;
}

body {

    font-family: 'Cabin', sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
    /* background-image: url(https://cdn.pixabay.com/photo/2015/06/24/13/31/barbecue-820010_960_720.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.658),
            rgba(8, 8, 8, 0.671)), url("https://cdn.pixabay.com/photo/2015/06/24/13/31/barbecue-820010_960_720.jpg");
}

ul {

    margin: 1em;
    padding-right: 10em;
    list-style: none;
}


h2,
h3,
a {
    color: #ffffffec;
}

a {
    text-decoration: none;
}


.main-nav {
    padding-right: 14em;
    font-size: 14px;
}


.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-weight: 700;
    transition: color 0.1s ease-out
}

.logo {
    margin: 0;
    font-size: 2.5em;
    text-transform: uppercase;
    padding-left: 3.9em;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    transition: color 0.1s ease-out
}

.main-nav a {
    color: #ffffff;
    font-size: 1.8em;

}

.main-nav a:hover {
    color: #ff0707e5;
}


.container {
    max-width: 1200px;
    width: 95%;
    margin: auto;
    padding-top: .5em;
    padding-bottom: .5em;
}



/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {

    .header,
    .main-nav {
        display: flex;
    }

    .header {

        flex-direction: column;
        align-items: center;

        .header {
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        }
    }

}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }

}